/* Base styles */
.navbar {
  background-color: #2c3e50;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  position: relative;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* Desktop menu */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #2980b9;
}

/* Mobile menu toggle */
.menu-icon {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menu-icon.open .icon-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon.open .icon-bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .icon-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-link.active {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-bottom: 3px solid #3498db;
}

.nav-button.active-button {
  /* background-color: #2980b9; */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}


/* Mobile menu styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #2c3e50;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .nav-menu.open {
    max-height: 500px; /* Adjust based on content */
  }

  .nav-item {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  .nav-link, .nav-button {
    display: block;
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;
  }

  .nav-button {
    margin: 10px auto;
    max-width: 200px;
  }
  .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    /* border-left: 4px solid #3498db; */
    border-bottom: none;
  }

  .nav-button.active-button {
    background-color: #2980b9;
    border: 2px solid white;
  }
}